
<app-header>
</app-header>

<!--<app-contact>
</app-contact> -->
<body style="background-color:#ccff99;height: 1500px;">
<ul>
<li>
<p><a routerLink="/contact">1.State Names and HelpLine Numbers</a></p><br><br></li>
<li> <p><a routerLink="/notification">2.Notification and Advisories</a></p><br><br></li>
<li><p><a routerLink="/dashboard">3.Hospitals Dashboard</a></p></li> 
</ul>
<router-outlet></router-outlet>
<h1><marquee>Welcome To COVID-19 Details</marquee></h1>
<app-footer></app-footer>
</body>

